@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color:#FFE700;
    --secundary-color:#1A1B17;
    --primary-font: 'Rubik Wet Paint';
    --secundary-font:'Saira', sans-serif;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y:hidden;
}
body{
    background-color: var(--primary-color);

    
}

.header h1, .navBar{
    display: none;
}
.header{
    width: 100%;
    padding: 10px;
}
.mainContent{
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0 0;
    padding: 10px;
}
.dayANDtask h1{
    font-family: var(--primary-font);
    font-size:36px;
}
.dayANDtask p{
    font-family: var(--secundary-font);
    font-size: 16px;
    font-style: italic;
}
.btn-addNew{
    position: relative;
    top: 25px;
    font-family: var(--secundary-font);
    background-color: var(--secundary-color);
    border-radius: 10px;
    color: white;
    width: 124px;
    height: 27px;
}

.container-TaskList{
    width: 100%;
    height: 100vh;
    background-color: var(--secundary-color);
    border-top-left-radius: 44px;
    margin-top: 94px;
}
@media screen and (min-width: 1440px) {
    
    .header img{
        display:none;
    }
    .header h1{
        display: block;
        font-family: var(--primary-font);
        margin: 10px 0 0 50px;
        font-size: 64px;
        color: white;

    }
    .header{
        margin:0;
        width: 100%;
        height:132px;
        background-color: var(--secundary-color);
        border-bottom-left-radius: 44px;
        border-bottom-right-radius: 44px;

    }
    .mainContent{
        margin:50px;
    }
    .dayANDtask h1{
        font-size: 64px;
    }
    .dayANDtask p{
        font-size:32px
    }
    .btn-addNew{
        width: 276px;
        height: 58px;
        font-size: 20px;
        font-style: italic;

    }
}