@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color:#FFE700;
    --secundary-color:#1A1B17;
    --primary-font: 'Rubik Wet Paint';
    --secundary-font:'Saira', sans-serif;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--primary-color);
    overflow-y:hidden;
}

.header h1, .navBar{
    display: none;
}
.header{
    width: 100%;
    padding: 10px;
}
.mainContent{
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0 0;
    padding: 10px;
}
.empty-state{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 32px;
}
.dayANDtask h1{
    font-family: var(--primary-font);
    font-size:36px;
}
.dayANDtask p{
    font-family: var(--secundary-font);
    font-size: 16px;
    font-style: italic;
}
.btn-addNew{
    position: relative;
    top: 25px;
    font-family: var(--secundary-font);
    background-color: var(--secundary-color);
    border-radius: 10px;
    color: white;
    width: 124px;
    height: 27px;
}
.modal-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100vh;
    background-color: rgba(26, 27, 23, 0.9);
    z-index: 1000;
    display: none;
}
.modal-box.opened{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-modal{ 
    display: flex;
    justify-content: center;
    width: 390px;
    height: 555px;
    background-color: var(--primary-color);
    border-radius: 44px;  
}
.modal{
    background-color: var(--secundary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 335px;
    height: 450px;
    border-radius: 44px;
    gap: 10px;
}
.modal h1{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight: 400;
    margin: 20px;
}
.close-modal{
    position: relative;
    top: 20px;
    right: 5px;
    font-size: 24px;
    color: var(--Secundary-color);
    cursor: pointer;
}
.task-form{
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    
}
.form-group label{
    color: #ffed00;
    font-family: var(--secundary-font);
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}
        input[type="text"],
        input[type="time"],
        textarea {
            background: rgb(255, 231, 0, 0.5);
            border: none;
            border-radius: 20px;
            padding: 15px 20px;
            color: var(--secundary-color);
            font-size: 14px;
            font-family: var(--secundary-font);
            outline: none;
            transition: background 0.3s;
        }


.submit-btn{
    background-color: var(--primary-color);
    border: none;
    border-radius: 44px;
    margin-top: 10px;
    font-family: var(--primary-font);
    height: 35px;
}


.container-TaskList{
    width: 100%;
    height: calc(100vh - 200px);
    background-color: var(--secundary-color);
    border-top-left-radius: 44px;
    margin-top: 94px;
    overflow: hidden;
}
.weekDays{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 20px;
    color: var(--secundary-color);
    font-family: var(--secundary-font);
    font-size: 14px;
    font-style: italic;
}
.dayWeek{
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    width: 55px;
    transition: transfomr 0.3s ease;
}
.dayWeek:hover{
    width: 65px;
    transform: scale(1);
}
.TaskList{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 25px;
    color: var(--primary-color );
    height: calc(100% - 120px);
    overflow: hidden;
}
.TaskList h1{
    color: var(---color);
    font-family: var(--secundary-font);
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 15px;
}
.List {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
}

/* Estilo para o scroll no mobile - mais discreto */
.List::-webkit-scrollbar {
    width: 4px;
}

.List::-webkit-scrollbar-track {
    background: transparent;
}

.List::-webkit-scrollbar-thumb {
    background: rgba(255, 231, 0, 0.3);
    border-radius: 10px;
}

.List::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 231, 0, 0.5);
}

.List ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 90px;
}
/* Esconde o scroll no mobile */
.List::-webkit-scrollbar {
    display: none;
}
.List {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background-color: var(--primary-color);
    color: var(--secundary-color);
    padding: 10px;
    border-radius: 10px;
    gap:10px;
}
.task p{
    font-family: var(--secundary-font);
    font-size: 14px;
    font-style: italic;
    margin: 0;
}
.task h1{
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.task-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid var(--secundary-color);
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    flex-shrink: 0;
}

.task-checkbox:hover {
    border-color: var(--secundary-color);
    transform: scale(1.05);
}

.task-checkbox:checked {
    background-color: var(--secundary-color);
    border-color: var(--secundary-color);
}

/* Marca de check quando marcado */
.task-checkbox:checked::after {
    content: '✓';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
    font-size: 16px;
    font-weight: bold;
}
.task-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

@media screen and (min-width: 1440px) {
    
    .header img{
        display:none;
    }
    .header h1{
        display: block;
        font-family: var(--primary-font);
        margin: 10px 0 0 50px;
        font-size: 64px;
        color: white;

    }
    .header{
        margin:0;
        width: 100%;
        height:132px;
        background-color: var(--secundary-color);
        border-bottom-left-radius: 44px;
        border-bottom-right-radius: 44px;

    }
    .mainContent{
        margin:50px;
    }
    .dayANDtask h1{
        font-size: 64px;
    }
    .dayANDtask p{
        font-size:32px
    }
    .btn-addNew{
        width: 276px;
        height: 58px;
        font-size: 20px;
        font-style: italic;
    }
    .container-TaskList{
        position: absolute;
        top: 325px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        margin:0px 88px 88px 88px;
        width: 90%;
        height: 425px;
        border-radius: 44px;
        overflow: visible;
    }
    .weekDays{  
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .TaskList{
        width: 60%;
        margin: 0px;
        height: 100%;
        padding: 20px 0;
    }
    .task{
        display: flex;
        text-align: center;
        gap: 0;
    }
    
    .List {
        height: calc(100% - 60px);
        padding-right: 10px;
        -ms-overflow-style:auto;
    scrollbar-width:auto;
    }
    


    /* Estilo do scroll no desktop - mais visível */
    .List::-webkit-scrollbar {
        display: block;
        width: 8px;
    }

    .List::-webkit-scrollbar-track {
        background: rgba(255, 231, 0, 0.1);
        border-radius: 10px;
    }

    .List::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 10px;
    }

    .List::-webkit-scrollbar-thumb:hover {
        background: #ffed00;
    }
    
    .List ul{
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-bottom: 30px;
    }
    .container-modal{
        width: 800px;
        height: 650px;
    }
    .modal{
        width: 700px;
        height: 550px;
    }
    .modal h1{
        font-size: 50px;
    }
    .task-form{
        width: 400px;
    }
    .submit-btn{
        margin-top: 40px;
        height: 50px;
        font-size: 20px;
    }
}